---

import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro'

---

<Layout title='Portafolio JG'>
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold flex  flex-row gap-x-4 pb-4">
				¡Hola! Soy Jairo Guevara
				<a href="https://www.linkedin.com/in/jairo-antonio-guevara-ampie-b68738214/"
				target="_blank" rel="noopener" 
				class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>  
			<h2 class="text-white text-2xl font-semibold">
				<span class="block">Frontend Developer Junior</span>
				<span class="text-red-100 block mt-2">Masaya, Nicaragua</span>
				<span class="text-lg mt-2">Conocimiento en HTML, CSS, JavaScript, React, C#, .NET Core, DevExpress</span>
			</h2>
		</section>
	</main>
</Layout>
